html {
    width: 100%;
    height: 100%;
    background-color: rgb(32, 34, 44);
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(32, 34, 44);
    overflow: hidden;
}

.center-section {
    width: 50%;
    height: 100%;
}

.recording-section {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.disabled-button {
    cursor: default !important;
    filter: opacity(50%);
}

.button {
    flex: 1;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 30px;
    border-radius: 0.25rem;
    background-color: rgb(0, 132, 255);
    transition: background-color linear 0.03s, box-shadow linear 0.1s;
}

.button:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
}

#name-input {
    outline: 1px solid white;
    outline-offset: 2px;
}

#name-input {
    border: none;
    text-align: center;
}

#name-input:focus::placeholder {
    color: transparent;
}

#name-input:active::placeholder {
    color: transparent;
}

#name-input:hover::placeholder {
    color: transparent;
}

#name-input::placeholder {
    color: black;
}

#record-button {
    background-color: rgb(255, 251, 0);
    color: black;
}

#record-button:hover {
    background-color: white;
}

.audio-section {
    display: inline-block;
    height: 78px;
    width: 100%;
    border-radius: 0.25rem;
    background-color: white;
    position: relative;
}

.audio-details {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38px;
}

#audio-name {
    color: black;
    border: none;
    text-align: center;
}

.audio-container {
    display: inline-block;
    height: 38px;
    width: 100%;
}

.clip-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
    background-color: white;
    border-radius: 0.25rem;
}

.clip {
    border: none;
    cursor: pointer;
    margin: .25rem;
    border-radius: 0.25rem;
    background-color: rgb(0, 132, 255);
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    height: 30px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color linear 0.03s, box-shadow linear 0.1s;
}

.clip:hover {
    color: black;
    background-color: white;
}

#rename-button {
    color: black;
    margin-right: 17px;
    right: 0;
    cursor: pointer;
    transition: transform linear 0.05s;
    position: absolute;
}

#rename-button:hover {
    color: black;
    transform: scale(102%);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1))
}